{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ 'user.edit'|trans }}</h1>
                {{ form_start(form) }}

                <div class="form-group">
                    <label class="control-label">E-mail</label>
                    <p class="form-control-static">{{ app.user.email }}</p>
                </div>

                {% if app.user.fullname is not empty %}
                    <div class="form-group">
                        <label class="control-label">{{ 'user.fullname'|trans }}</label>
                        <p class="form-control-static">{{ app.user.fullname }}</p>
                    </div>
                {% endif %}

                {% if app.user.association is not empty %}
                    <div class="form-group">
                        <label class="control-label">{{ 'user.association'|trans }}</label>
                        <p class="form-control-static">{{ app.user.association }}</p>
                    </div>
                {% endif %}

                {{ include('user/_editform.html.twig') }}

                <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}